/* CONTACT FORM */
.telegram {
    padding: 10px 20px;
    font-weight: bold;
    color: #cc7d63;
}

/* MODAL */
.contact-modal {
    background-color: rgba(182,124,0,0.8);
    backdrop-filter: blur(8px);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.contact-modal-content {
    background-color: #1c1c49;
    margin-left: 5px;
	width: 600px;
	height: 500px;
	opacity: 1;
	font-family: 'Josefin Sans', sans-serif;
	color: #f9da5c;
}
.contact-modal-content #open {
	background-color: #322c2c;
	font-size: x-large;
	color: #e9e7da;
	border: 3px double #f9da5c;
	font-family: artDeco;
}
.contact-modal-content a {
	font-size: xx-small;
	color: #f9da5c;
	text-decoration: none;
}
input {
	display: inline-block;
	width: 50%;
	margin: 5px auto;
}
.contact-modal-content .result {
	font-family: 'Josefin', sans-serif;
	font-size: 10px;
	color: #f9da5c;
}
.contact-modal-content .close {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 20px;
	transform: rotate(45deg);
	cursor: pointer;
}

.contact-modal .frmBtn {
    font-family: artDeco;
    font-size: 25px;
    font-weight: normal;
    color: #f9da5c;
    padding: 10px 20px;
    width: 50%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px double #b67c00;
}

.contact-modal .reset {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #b67c00;
    width: 75px;
}