/* PROJECT */
/* REPLANNING STYLES OF THEME -- STICKING WITH SAME 'ROARING 20S' STYLE 
JUST HAVE A NEW APPROACH -- AS SEEN ON LANDING PAGE. USING TEMPLATE TO 
RESTRUCTURE.
*/
html, body {
	height: 100%;
	background-color: #0d1018;
}
body {
	color: #fbeade;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* CENTER */
.site-wrapper {
	display: table;
	width: 100%;
	height: 600px;
	background-color: #0d1018;
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}
.inner {
	padding: 30px;
}

/* HEADER */
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Josefin', sans-serif;
}
.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #347484;
	text-shadow: none;
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover, 
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #347484;
	border-bottom-color: rgba(97,127,141,.25);
}  
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #617f8d;
  border-bottom-color: #617f8d;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/* MODAL */
.bg-modal {
	background-color: rgba(182,124,0,0.8);
	backdrop-filter: blur(8px);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.modal-content {
	background-color: #122d17;
	width: 300px;
	height: 400px;
	opacity: 1;
	font-family: 'Josefin Sans', sans-serif;
	color: #654321;
}
.modal-content #open {
	background-color: #122d17;
	font-size: x-large;
	color: #ba8623;
	border-top: none;
	border-right: none;
	border-left: none; 
	border-bottom: 5px double rgba(182,124,0,0.8);
	font-family: artDeco;
}
.modal-content #open:hover {
	transform: scale(1.1);
	transition: all ease 500ms;
}
.modal-content h2 {
	color: #ba8623;
	font-family: artDeco;
	letter-spacing: 2px;
}
.modal-content a {
	font-size: xx-small;
	color: #cc7d63;
	text-decoration: none;
}
.modal-content a:hover {
	font-size: xx-small;
	color: #fbeade;
	text-decoration: none;
}
input {
	display: block;
	width: 50%;
	margin: 5px auto;
}
.modal-content .result {
	font-family: 'Josefin', sans-serif;
	text-shadow: none;
	font-size: 11px;
	font-weight: bold;
	color: #3d434b;
	padding-top: 3px;
}
.bg-modal .close {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 20px;
	transform: rotate(45deg);
	cursor: pointer;
}

/* COVER */
.cover {
	padding: 0 20px;
}
.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}
.cover-heading {
	font-family: artDeco;
	font-size: 100px;
	font-weight: normal;
	color: #eebb22;
}
.cover-subheading {
	font-family: artDeco;
	font-size: 50px;
	font-weight: normal;
	color: #2c50c5;
}
.lead {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	color: #eebb22;
}
@font-face {
	font-family: artDeco;
	src: url(ParkLaneNF.ttf);
}

.lead a {
	color: #cc7d63;
}
.lead dt {
	font-size: 20px;
	color: #2c50c5;
	
}
.lead dl {
	font-size: 12px;
	color: #b8b8b8;
	line-height: 5px;
}

.info {
	color: #b8b8b8;
	font-size: small;
	font-family: 'Josefin Sans', sans-serif;
}

/* DOCPG */
.btn-default {
	color: #03477e;
	font-family: 'Josefin Sans', sans-serif;
}

.btn-default:hover {
	color: #eebb22;
}
.document {
	font-family: 'Josefin Sans', sans-serif;
	color: #999;
	font-size: large;
	margin: 1em;
}
.recite dt {
	font-size: xx-large;
	color: #113ac2;
}
.recite dd {
	font-size: large;
	color: #999;
	font-family: 'Josefin Sans', sans-serif;
	font-style: italic;
}
.title {
	font-size: large;
	color: #f3e66c;
	font-variant: small-caps;
}

/* ABOUTPG */
.font-weight-light {
	font-family: artDeco;
	color: #ba8623;
}
.subs {
	margin-bottom: 10em;
	font-family: 'Josefin Sans', sans-serif;
	color: #2a49f8;
}
.card-deck {
	max-width: 250px;
	display: inline-block;
	align-items: center;
}
.card-title {
	font-family: artDeco;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 3em;
}
.card-text {
	font-family: 'Josefin Sans', sans-serif;
	font-variant: small-caps;
	padding: 10px;
}
.card-body {
	background-color: #3d434b;
	border: 1px outset #b8b8b8;
	border-radius: 2px;
	box-shadow: 0px 5px 10px rgba(255, 221, 169, 0.397);
}
.card-footer {
	background-color: #333333;
	border: 1px outset #b8b8b8;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0px 5px 10px rgba(255, 221, 169, 0.397);
}
.card-info {
	font-family: 'Josefin Sans', sans-serif;
	font-size: small;
	line-height: 1.5em;
	padding: 5px;
	justify-content: center;
}
.headers {
	margin-top: 5em;
	margin-bottom: 5em;
}
.card {
	margin-top: 5em;
	margin-bottom: 5em;
}
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
}
/* Remove extra left and right margins, due to padding in columns */
.row-info {margin: 0 -5px;}
/* Clear floats after the columns */
.row-info:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color:#a07119;
}
.img-operator {
	display: block;
	top: 0px;
	left: 25px;
	width: 550px;
}
.text-muted {
	color: #98a2b1;
}



/* FOOTER */
footer {
	display: flex;
	background-color: #00185c;
	color: #ba5705;
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	padding-bottom: 20px;
}
footer .form-check-label {
	color: #617f8d;
	font-family: 'Josefin Sans', sans-serif;
}
footer h5 {
	font-family: artDeco;
	color: #eebb22;
	font-size: 25px;
}
footer a {
	color: #617f8d;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
footer a:hover, footer a:focus {
	color: #347484;
	text-decoration: none;
	border-bottom:1px dotted #999;
}
footer .form-control {
	background-color: #001735;
	box-shadow: 2px 2px 2px rgba(46, 97, 117, 0.8);
	border: none;
	resize: none;
	color: #617f8d;
	font-family: 'Josefin Sans', sans-serif;
	max-width: 50%;
	display: inline;
}
footer .form-check-label {
	font-size: 12px;
}
footer .form-check {
	display: inline;

}
.foot-info {
	width: 25%;
	color: #eebb22;
}
.foot-info h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: x-large;
	color: #ba5705
}
.foot-form {
	width: 50%;
	float: left;
}
footer .results {
	font-size: xx-small;
	color: #ba5705;
	font-family: 'Josefin Sans', sans-serif;
}